section.slider
  .my-works-desc
    .my-works-desc__title
      .subtitle
        | Сайт школы онлайн образования
    .my-works-desc__info
      | HTML, CSS, JAVASCRIPT
    button.my-works-button
      i.fa.fa-link
      | Посмотреть сайт
  .carousel-preview
    img(src="assets/img/section-my-works/project-2.png" alt="My project")
  .carousel-arrows
    .carousel-arrows__item
      .carousel-arrows__down
        .carousel-arrows__item-fon-left
          img(src="assets/img/section-my-works/portf-arrow-down.svg").carousel-arrows--center
    .carousel-arrows__item
      .carousel-arrows__up
        .carousel-arrows__item-fon-right
          img(src="assets/img/section-my-works/portf-arrow-up.svg").carousel-arrows--center
