.hamburger
  span.top
  span.middle
  span.bottom

.overlay
  nav.overlay-menu
    ul
      li
        a(href='/works.html') Мои работы
      li
        a(href='/blog.html') Блог
      li
        a(href='/about.html') Обо мне
      li
        a(href='/') Авторизация
