.contacts
  .contacts__header.subtitle
    | Контакты
  ul.contacts__list
    li.contact
      .contact__icon
        i.fa.fa-skype
      .contact__text
        a(href="skype:anton-skype?chat").contact__link anton-skype
    li.contact
      .contact__icon
        i.fa.fa-envelope
      .contact__text
        a(href="mailto:anton@gmail.com").contact__link anton@gmail.com
    li.contact
      .contact__icon
        i.fa.fa-phone
      .contact__text
        a(href="tel:+79132009324").contact__link +7 (913) 200-93-24
    li.contact
      .contact__icon
        i.fa.fa-map-marker
      .contact__text
        | Новосибирск, ул. Инская, д.14
