@mixin centered($axis: 'both') {
    position: absolute;

    @if $axis == 'both' {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @if $axis == 'x' {
      left: 50%;
      transform: translateX(-50%);
    }

    @if $axis == 'y' {
      top: 50%;
      transform: translateY(-50%);
    }
}

%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content
  }
}

@mixin phone {
  @media screen and (max-width: 480px) {
    @content
  }
}

@mixin breakpoint($max-width) {
  @media screen and (max-width: $max-width) {
    @content
  }
}
