ul.skills
  each skill in skills
    li.skills__item
      .skill__title= skill.title
      ul.skill__list
        each list in skill.list
          li.skill__list-item
            svg(viewBox='0 0 110 110').circles
              circle(r="45" cx="50%" cy="50%" fill="none").circle__first
              circle(class=`circle-${list.percent}` r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second
            .skill__name= list.name
