section.section-my-works-about.section-my-works-about--bg-image
  img(src="assets/img/section-my-works-about/leaf-1.png" alt="Leaf 1").leaf-1
  img(src="assets/img/section-my-works-about/leaf-2.png" alt="Leaf 2").leaf-2
  img(src="assets/img/section-my-works-about/leaf-3.png" alt="Leaf 3").leaf-3
  .my-works-about__title
    .my-works-about__title-header
      img(src="assets/img/section-about/about-header.svg")
    .my-works-about__title-text
      .main-title
        | Что обо мне
        br
        | говорят
  .fman
    .fman__item
      .fman-item__photo
        img(src="assets/img/section-my-works-about/kovald.png" alt="Фото \"Ковальчук Дмитрий\"")
      .fman-item__msg
        | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        img(src="assets/img/section-my-works-about/quote.png").fman-item__quote-icon
      .fman-item__name
        | Ковальчук Дмитрий
      .fman-item__who
        | — основатель Loftschool
    .fman__item
      .fman-item__photo
        img(src="assets/img/section-my-works-about/kovald.png" alt="Фото \"Ковальчук Дмитрий\"")
      .fman-item__msg
        | Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
        img(src="assets/img/section-my-works-about/quote.png").fman-item__quote-icon
      .fman-item__name
        | Сабанцев Владимир
      .fman-item__who
        | — преподаватель
  // todo fix it
  //.blur
  //  .blur__back
  //    //img(src="assets/img/section-my-works-about/bg-my-works-about.png")
  //  .blur-form__wrapper
  //    .blur-form
  .section-my-works-about__feedback
    .feedback
      .feedback__title
        .subtitle
          | Связаться со мной
      form.feedback-form
        .feedback-form__input-wrapper
          input.feedback-form__input(id="feedback-name" type="text" name="feedback-name" required=true placeholder="Имя")
          label.feedback-form__input-label(for="feedback-name")
        .feedback-form__input-wrapper
          input.feedback-form__input(id="feedback-email" type="text" name="feedback-email" required=true placeholder="Email")
          label.feedback-form__input-label(for="feedback-email")
        .feedback-form__input-wrapper
          textarea.feedback-form__textarea(id="feedback-message" rows="6" name="feedback-message" required=true placeholder="Ваше сообщение")
          label.feedback-form__input-label(for="feedback-message")
        .feedback__menu
            button(type="submit").feedback__button Отправить
            button(type="reset").feedback__button Очистить
