.triangle--section-about
  @include breakpoint(1000px)
    fill: #eeebdf !important

.section-about
  margin-top: 1px // hack
  display: flex
  flex-direction: row
  @include breakpoint(1000px)
    flex-direction: column

.section-about__left, .section-about__right
  width: 50%
  @include breakpoint(1000px)
    width: 100%

.section-about__left
  background: $beige
  display: flex
  flex-direction: row
  @include breakpoint(1600px)
    flex-direction: column
  @include breakpoint(1000px)
    padding-top: 20px
    padding-bottom: 50px

.section-about__right
  background: $white
  @include breakpoint(1000px)
    padding-top: 10px
    text-align: center

.section-about__triangles
  position: absolute
  bottom: 100%

.about-left
  background: $beige
  display: flex
  margin: 30px 20px 0 0
  height: 100%

.about-left__title
  width: 50%
  text-align: center
  @include breakpoint(1600px)
    width: 100%

.about-left__title-text
  margin-top: -87px
  padding-bottom: 50px

.about-left__title-header
  img
    opacity: 0.1
    width: 360px

.about-left__info
  width: 50%
  @include breakpoint(1600px)
    width: 100%

.about-left__photo
  -moz-transform: scaleX(-1)
  -o-transform: scaleX(-1)
  -webkit-transform: scaleX(-1)
  transform: scaleX(-1)
  filter: FlipH
  -ms-filter: "FlipH"
  text-align: center
  img
    padding: 20px
    max-width: 100%
    @include phone
      padding: 20px 0

.about-me__info-content
  margin: 20px
  @include phone
    text-align: center

.about-me__subtitle
  text-align: center
  margin-top: 30px
  margin-bottom: 52px

.about-me__text
  line-height: 28px
  color: #566358
  margin-bottom: 20px

.about-right
  margin: 10px 20px

.about-right__title
  text-align: center
  width: 280px
  margin: 40px auto

.about-right__description
  position: relative
  margin: 40px 0 30px
  color: #566358
  line-height: 28px

.about-right__skills
