.section-blog
  background-color: #faf8f0
  height: 100%
  margin-top: 1px

.section-blog__triangle
  fill: #faf8f0

.section-blog__container
  display: flex
  flex-direction: row

.section-blog__articles
  width: 70%
  padding-top: 80px
  padding-right: 20%
  @include desktop
    padding-right: 5%
  @include breakpoint(1000px)
    margin-left: 0
    padding: 80px 30px 0 30px
    width: 100%

.articles
  width: 100%

.article
  margin-bottom: 70px
  &::after
    content: ""
    display: block
    width: 50%
    height: 3px
    background-color: #ecebe4
    margin-top: 70px
  &:last-child
    &::after
      display: none

.article__title
  color: #455a64
  font-size: 36px
  font-family: "SansusWebissimoRegular", Arial, sans-serif
  margin-bottom: 20px

.article__created-at
  color: $green
  margin-bottom: 20px

.article__content
  width: 100%
  color: #455a64
  line-height: 29px
  p
    margin-bottom: 15px
    width: 100%
