section.works-head
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").works-head__triangle.works-head__triangle_left
    polygon(points="0,0 0,100 1000,100").triangle_fill_f8f9f5
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").works-head__triangle.works-head__triangle_right
    polygon(points="0,100 1000,100 1000,0").triangle_fill_f8f9f5

section.my-works-left
  .my-works__title
    .my-works-left__title-header
      img(src="assets/img/section-my-works/works-header.svg")
    .my-works-left__title-text.main-title.main-title--fix
      | Мои работы
